In [ ]:
object oriented programming:
    
class

object

In [ ]:
paytm:
    phoneno
    email
    kyc
    
    recharge
    book tickts
    
    
user 1
user 2

In [18]:
class Emp:
    count=0
    emps=[]
    
    @classmethod
    def incr_count(cls):
        cls.count+=1
        
    @classmethod:
    def add_emp(cls,obj):
        cls.emps.append(obj)
        
    def __init__(self,id,name,email,contact):
        self.id=id
        self.name=name
        self.email=email
        self.contact=contact
        Emp.count+=1
        Emp.emps.append(self)
    def set_dept(self,dept_name):
        self.dept=dept_name
        
    def set_sal(self,sal):
        self.sal=sal
        
    def incr_sal(self,per):
        self.sal=self.sal+(self.sal*per)/100
        
    def __str__(self):
        return "{}{}{}".format(self.id,self.name,self.email)

emp1=Emp(101,"bhaskar","bhaskar@gmail.com","9014452304")
print(emp1.id,emp1.name,emp1.email,emp1.contact)
emp2=Emp(102,"vijay","viajay@gmail.com","8555954883")

emp3=Emp(103,"sreenu","sreenu@gmail.com","8500234107")

emp1.dept_name("Admin")
emp2.dept_name("HR")
emp1.set_sal(40000)
emp2.set_sal(65000)
emp3.set_sal(7000)

emp1.incr_sal(30)
print(emp1.__dict__)
if sal>50000 and dept_name=="HR":
    print(__dict__)

101 bhaskar bhaskar@gmail.com 9014452304

AttributeError: 'Emp' object has no attribute 'dept_name'

In [48]:
class Course:
    courses=[]
    def __init__(self,c_id,c_name,c_author,c_category):
        self.c_id=c_id
        self.c_name=c_name
        self.c_author=c_author
        self.c_category=c_category
        Course.courses.append(self)
        

class Tutorial:
    tuts=[]
    def __init__(self,t_id,t_name,t_content,t_course):
        self.t_id=t_id
        self.t_name=t_name
        self.t_content=t_content
        self.t_course=t_course
        Tutorial.tuts.append(self)
        
course1=Course(101,"java","james","web application")
course2=Course(102,"python","guido","Analytics")
course3=Course(103,"python","guido","deepleaening")
        
tut1=Tutorial(201,"python","machin learning",course1)
tut2=Tutorial(202,"python","deep learning",course2)
tut3=Tutorial(203,"python","machine learning",course3)

for tut in Tutorial.tuts:
    if tut.t_course.c_author == "guido":
        print(tut.t_name,tut.t_content)
        
tut_count={}
for tut in Tutorial.tuts:
    if tut.t_course.c_name in tut_count:
        tut_count[tut.t_course.c_name] +=1
    else:
        tut_count[tut.t_course.c_name] =1
print(tut_count)

python deep learning
python machine learning
{'java': 1, 'python': 2}

In [60]:
#inheritance
class User:
    def __init__(self,id,name,email,password):
        self.id=id
        self.name=name
        self.email=email
        self.password=password
        
    def get_details(self):
        return "{}{}".format(self.id,self.name)
    
class Admin:
    def get_details(self):
        return "It is a Admin method"
    
    
class Profile(User):
    def __init__(self,id,name,email,password,contact,linkedin):
        super().__init__(id,name,email,password)
        self.contact=contact
        self.linkedin=linkedin
        
    def get_details(self):
        name_details=super().get_details()
        return "{} {} {}".format(name_details,self.contact,self.linkedin)
        
p1=Profile(1,"abc","abc@gmail.com","test@gmail.com","9014452304","www.linkdin/abc.com")
print(p1.__dict__)
#help(p1)

{'id': 1, 'name': 'abc', 'email': 'abc@gmail.com', 'password': 'test@gmail.com', 'contact': '9014452304', 'linkedin': 'www.linkdin/abc.com'}

In [ ]:
from abc import ABC
form abc import Abstractmethod

class User:
    def get_details(self):
        pass

In [ ]:
#exception Handling

1.syntax errors
2.logical errors
    index error 
    key error
    Unsupported Operation

In [79]:
class ValueLessThan50(Exception):
    pass
a=20
try:
    if a<50:
        raise ValueLessThan50("value of variable less than 50")

    raise IndexError
    #print(10/0)
    #l=[10,20,30,40]
    #l=l[100]
except ValueLessThan50 as e:
    print("user defined exception is raise",e)
except IndexError:
    print("invalid index")
except NameError:
    print("variable not defined")
except Exception as e:    #It can be find a exception name
    print("something went wrong--",e)
else:
    print("No exception raised")
finally:
    print("This exception will always get executed")
print("statements afer try block")

user defined exception is raise value of variable less than 50
This exception will always get executed
statements afer try block

In [63]:
#print(dir(__builtins__))

In [ ]:
connect()
   host =""
   database =""
   user =""
    password

In [121]:
import psycopg2
con=psycopg2.connect(user ="postgres",password="Sreenu@44",host="localhost",database="emp")
print(con)
cur=con.cursor()
print(cur)
cur.execute("""create table EMP2(Id INT,Name Varchar(32),Email varchar(32))""")
cur.execute("""INSERT INTO EMP2(ID,NAME,EMAIL) VALUES (101,'vijay','vijay@gmail.com')""")
con.rollback()

<connection object at 0x000001F9240D7D08; dsn: 'user=postgres password=xxx dbname=emp host=localhost', closed: 0>
<cursor object at 0x000001F924B903C8; closed: 0>

In [138]:
#connection object is used to close,commit,rollback
import sqlite3
conn=sqlite3.connect(database= "test_db1.db")
cur=conn.cursor()
cur.execute("""CREATE TABLE EMP5(ID INT,NAME VARCHAR(32),EMAIL VARCHAR(32))""")
cur.execute("""INSERT INTO EMP5(ID,NAME,EMAIL) VALUES (102,'bhaskar','bhaskar@gmail.com')""")
cur.execute('SELECT *FROM EMP5')
#print(cur)
#print(next(cur))
#print(next(cur))
print(cur.fetchall())
cur.execute("""UPDATE EMP5 SET NAME='PRUTHVI' WHERE ID=102""")

[(102, 'bhaskar', 'bhaskar@gmail.com')]

In [145]:
from pymongo import MongoClient

In [146]:
client=MongoClient('localhost',27017)

In [147]:
db=client.db_test2  #creating a database name

In [150]:
collection =db.emp

In [151]:
#insert_one()
#insert_many()
#insert()
collection.insert_one({'id':101,'name':"bhaskar",'salary':12000})

In [153]:
collection.insert_many([{'id':101,'name':"bhaskar",'salary':12000},{'id':102,'name':"vijay",'email':"vijay@gmail.com",'phone':9014452304,'address':"banglore"}])
#inser many list of dictionaries

In [154]:
g=collection.find()
print(g)

<pymongo.cursor.Cursor object at 0x000001F924EB7710>

In [155]:
for v in g:
    print(v)

{'_id': ObjectId('5d61222e07f4e010bb192281'), 'id': 101, 'name': 'bhaskar', 'salary': 12000}
{'_id': ObjectId('5d61235507f4e010bb192282'), 'id': 101, 'name': 'bhaskar', 'salary': 12000}
{'_id': ObjectId('5d61235507f4e010bb192283'), 'id': 102, 'name': 'vijay', 'email': 'vijay@gmail.com', 'phone': 9014452304, 'address': 'banglore'}

In [164]:
obj1=collection.find('name':"vijay")
print(next(obj1))

SyntaxError: invalid syntax (<ipython-input-164-d8de3af3ee21>, line 1)

In [ ]:
#update_one
#up

In [166]:
collection.update_one({'name':'bhaskar'},{'$set':{"email":"vijay@gmail.com"}})
obj1=collection.find({'name':'bhaskar'})
print(next(obj1))

{'_id': ObjectId('5d61222e07f4e010bb192281'), 'id': '101', 'name': 'bhaskar', 'salary': 12000, 'email': 'vijay@gmail.com'}

In [160]:
collection.update_many({},{'$set':{"id":"101"}})
collecti

In [161]:
help(collection.update_many)

Help on method update_many in module pymongo.collection:

update_many(filter, update, upsert=False, array_filters=None, bypass_document_validation=False, collation=None, session=None) method of pymongo.collection.Collection instance
    Update one or more documents that match the filter.

      >>> for doc in db.test.find():
      ...     print(doc)
      ...
      {u'x': 1, u'_id': 0}
      {u'x': 1, u'_id': 1}
      {u'x': 1, u'_id': 2}
      >>> result = db.test.update_many({'x': 1}, {'$inc': {'x': 3}})
      >>> result.matched_count
      3
      >>> result.modified_count
      3
      >>> for doc in db.test.find():
      ...     print(doc)
      ...
      {u'x': 4, u'_id': 0}
      {u'x': 4, u'_id': 1}
      {u'x': 4, u'_id': 2}

    :Parameters:
      - `filter`: A query that matches the documents to update.
      - `update`: The modifications to apply.
      - `upsert` (optional): If ``True``, perform an insert if no documents
        match the filter.
      - `bypass_document_validation` (optional): If ``True``, allows the
        write to opt-out of document level validation. Default is
        ``False``.
      - `collation` (optional): An instance of
        :class:`~pymongo.collation.Collation`. This option is only supported
        on MongoDB 3.4 and above.
      - `array_filters` (optional): A list of filters specifying which
        array elements an update should apply. Requires MongoDB 3.6+.
      - `session` (optional): a
        :class:`~pymongo.client_session.ClientSession`.

    :Returns:
      - An instance of :class:`~pymongo.results.UpdateResult`.

    .. note:: `bypass_document_validation` requires server version
      **>= 3.2**

    .. versionchanged:: 3.9
       Added the ability to accept a pipeline as the `update`.

    .. versionchanged:: 3.6
       Added ``array_filters`` and ``session`` parameters.

    .. versionchanged:: 3.4
      Added the `collation` option.

    .. versionchanged:: 3.2
      Added bypass_document_validation support

    .. versionadded:: 3.0

In [ ]:
Delete:
    delete_one
    delete_many

In [168]:
collection.delete_many({"id":'102'})

In [169]:
obj1=collection.find()
for row in obj1:
    print(row)

{'_id': ObjectId('5d61222e07f4e010bb192281'), 'id': '101', 'name': 'bhaskar', 'salary': 12000, 'email': 'vijay@gmail.com'}
{'_id': ObjectId('5d61235507f4e010bb192282'), 'id': '101', 'name': 'bhaskar', 'salary': 12000}
{'_id': ObjectId('5d61235507f4e010bb192283'), 'id': '101', 'name': 'vijay', 'email': 'vijay@gmail.com', 'phone': 9014452304, 'address': 'banglore'}